<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="Style.css"/>
    </head>
    <body>
        <article>
            <h1>Music Categories</h1>
            <section>
                <img src="images/music1.jpg"/>
                <p>Even more websites all about<br/> website templates on Just Web<br/> Templates</p>
                <input type="button" src="images/listen-button.png" value="Listen"/>
                <input type="button" src="images/add-button.png" value="Add"/>
            </section>
            <section>
                <img src="images/music2.jpeg"/>
                <p>If you're looking for beatiful and<br/> proffesionally made templates you<br/> can find them at Template Beauty.</p>
                <input type="button" src="images/listen-button.png" value="Listen"/>
                <input type="button" src="images/add-button.png" value="Add"/>
            </section>
            <section>
                <img src="images/music3.jpg"/>
                <p>You can remove any link to our<br/>websites from this template you're<br/> free to use the template without<br/>linking back to us.</p>
                <input type="button" src="images/listen-button.png" value="Listen"/>
<input type="button" src="images/add-button.png" value="Add"/>
            </section>
        </article>
    </body>
</html>