<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="Style.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <span>List Item</span>
                    <ul>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                    </ul>
                </li>
                <li>
                    <span>List Item</span>
                    <ul>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                    </ul>
                </li>
                <li>
                    <span>List Item</span>
                    <ul>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                    </ul>
                </li>
                <li>
                    <span>List Item</span>
                    <ul>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                        <li>Sub List Item</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </body>
</html>