<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <header>
            <form>
                <fieldset>
                    <img src="images/computer.png"/>
                    <label for="name">members login:</label>
                    <input type="text" id="name" value="Your name"/>
                    <input type="text" value="Email Id"/>
                    <input type="submit" id="go" value="Go"/>
                </fieldset>
            </form>
        </header>
            <article>
                <h1>about total management?</h1>
                <p>Lorem ipsum dolor sit amet,<br/> consectetur adipiscing elit. Donec varius augue a augue<br/> ultricies varius. Nam id nulla quis nisi dictum consectetur id sit amet augue.</p>
                <p>Nulla eget augue <span id="white">"vitae dui auctor"</span> hendrerit ut<br/> sed massa. Donec sem purus, pharetra eu mattis at, semper sit amet nibh. Praesent<br/> ligula dui, pharetra sit amet nisl sed, auctor pretium<br/> sapien. Proin auctor est sit </p>
            </article>
    </body>
</html>