@model List<MaxThrottle.Models.CarViewModel>
<div class="jumbotron">
    @foreach (var car in Model)
    {
        <div>
            <h2>
                <a href="~/Cars/@car.Id">
                    <span>@car.Manufacturer</span>
                    <span>@car.CarModel</span>
                    <span>@car.Engine</span>
                </a>
            </h2>

            <img src="@Url.Content(car.ImageUrl)"
                 alt="No image available"
                 width="240px" height="180px" />
        </div>
    }
</div>

