#number {
    border: 1px solid black;
    padding: 5px 15px;
    background-color: black;
    color: white;
    font-family: Consolas;
    margin-bottom: 5px;
}

a {
    color: black;
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0;
    margin-left: 20px;
}

    a:hover {
        text-decoration: underline;
    }

div {
    margin: 10px;
}

label {
    margin-left: 20px;
}
