body, fieldset, div, span, h1, h2, a, input, legend, dl, dt, dd {
    padding:0;
    margin:0;
}

body {
    font-family: Arial;
    margin-left: 50px;
}

nav {
    margin-top: 10px;
    margin-left: 170px;
    font-weight: bold;
}

hr {
    width: 590px;
    margin-left: 30px;
}

div.laptops {
    width: 415px;
    height: 360px;
    float: left;
}

fieldset {
    width: 200px;
    margin: 1px;
    font-size: 14px;
    float: left;
}

    fieldset legend {
		margin: 0 auto;
    }

    fieldset img {
        width: 80px;
        height: 60px;
        float: left;
        padding-top: 5px;
        padding-left: 5px;
    }

    fieldset ul {
        display: inline;
        text-align: left;
        list-style-type: none;
    }

        fieldset ul li {
            float: left;
            margin-bottom: 10px;
            margin-left: 10px;
        }

form {
    float: left;
    margin-top: 50px;
    margin-left: 50px
}

    form dt, form dd {
        margin-bottom: 15px;
    }


