body {
}

img {
    width: 20px;
    height: 20px;
}

body div#wrapper {
}

body div#wrapper > ul {
    list-style-image: url(../images/play-button.png);
}

body div#wrapper > ul > li {
}

body div#wrapper > ul > li > ul {
    display: none;
    
}

body div#wrapper > ul > li > ul > li {

}

body div#wrapper > ul > li > ul > li > ul {
    display: none;
}

body div#wrapper > ul > li > ul > li > ul > li {

}
