<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <nav>
            <h1>
                <img src="images/home.png" id="home"/>
                 Home
            </h1>
            <ul>
                <li>Basic</li>
                <li>Introduction</li>
                <li>Syntax</li>
                <li>How To</li>
                <li>Background</li>
                <li>Text</li>
            </ul>
        </nav>
    </body>
</html>